/** Sizes */
.small {
    padding: 5px 24px!important;
    font-size: 16px!important;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 400;
}

.azul {
    background-color: #0485BF;
    color:#FFF;
}

.cinza {
    background-color: #B9B9B9;
    color:#FFF;
}

/** Button for tab */
.tab {
    width: fit-content!important;
}