.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    gap: 16px;
    & .vermilion {
        background-color: var(--vermilion-50);
    }
    &.spaced {
        justify-content: space-between;
        flex-direction: row;
    }
}